<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.scheduling.mapper.ModuleDeveloperDOMapper">
    
    <resultMap type="ModuleDeveloperDO" id="ModuleDeveloperDOResult">
        <result property="id"    column="id"    />
        <result property="moduleId"    column="module_id"    />
        <result property="devType"    column="dev_type"    />
        <result property="userId"    column="user_id"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectModuleDeveloperDOVo">
        select
            md.id,
            md.module_id,
            md.dev_type,
            md.user_id,
            md.create_time,
            md.update_time,
            md.create_by,
            md.update_by,
            m.name as module_name,
            m.project_id,
            p.project_name,
            u.nick_name as developer_name
        from module_developer md
            left join module m on md.module_id = m.id
            left join project p on p.id = m.project_id
            left join sys_user u on u.user_id = md.user_id

    </sql>

    <select id="selectModuleDeveloperDOList" parameterType="ModuleDeveloperDO" resultMap="ModuleDeveloperDOResult">
        <include refid="selectModuleDeveloperDOVo"/>
        <where>  
            <if test="moduleId != null "> and md.module_id = #{moduleId}</if>
            <if test="devType != null  and devType != ''"> and md.dev_type = #{devType}</if>
            <if test="userId != null  and userId != ''"> and md.user_id = #{userId}</if>
            <if test="projectId != null and projectId != ''">and m.project_id = #{projectId}</if>
            <if test="developerName != null and developerName != ''">and u.nick_name like concat('%',#{developerName},'%')</if>
            <if test="devTypeList != null and devTypeList.size() != 0">
                and md.dev_type in
                <foreach item="devType" collection="devTypeList" open="(" separator="," close=")">
                    #{devType}
                </foreach>
            </if>
        </where>
    </select>
    
    <select id="selectModuleDeveloperDOById" parameterType="Long" resultMap="ModuleDeveloperDOResult">
        <include refid="selectModuleDeveloperDOVo"/>
        where md.id = #{id}
    </select>

    <insert id="insertModuleDeveloperDO" parameterType="ModuleDeveloperDO" useGeneratedKeys="true" keyProperty="id">
        insert into module_developer
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="moduleId != null">module_id,</if>
            <if test="devType != null">dev_type,</if>
            <if test="userId != null">user_id,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="moduleId != null">#{moduleId},</if>
            <if test="devType != null">#{devType},</if>
            <if test="userId != null">#{userId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateModuleDeveloperDO" parameterType="ModuleDeveloperDO">
        update module_developer
        <trim prefix="SET" suffixOverrides=",">
            <if test="moduleId != null">module_id = #{moduleId},</if>
            <if test="devType != null">dev_type = #{devType},</if>
            <if test="userId != null">user_id = #{userId},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteModuleDeveloperDOById" parameterType="Long">
        delete from module_developer where id = #{id}
    </delete>

    <delete id="deleteModuleDeveloperDOByIds" parameterType="String">
        delete from module_developer where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>