<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.scheduling.mapper.ModuleDOMapper">
    
    <resultMap type="ModuleDO" id="ModuleDOResult">
        <result property="id"    column="id"    />
        <result property="projectId"    column="project_id"    />
        <result property="code"    column="code"    />
        <result property="name"    column="name"    />
        <result property="remark"    column="remark"    />
        <result property="sort"    column="sort"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
        <result property="createBy"    column="create_by"    />
        <result property="updateBy"    column="update_by"    />
    </resultMap>

    <sql id="selectModuleDOVo">
        select
        m.id,
        m.project_id,
        m.code,
        m.name,
        m.remark,
        m.sort,
        m.create_time,
        m.update_time,
        m.create_by,
        m.update_by,
        p.project_name
        from module m
            left join project p on p.id = m.project_id
    </sql>

    <select id="selectModuleDOList" parameterType="ModuleDO" resultMap="ModuleDOResult">
        <include refid="selectModuleDOVo"/>
        <where>  
            <if test="projectId != null "> and m.project_id = #{projectId}</if>
            <if test="code != null  and code != ''"> and m.code = #{code}</if>
            <if test="name != null  and name != ''"> and m.name like concat('%', #{name}, '%')</if>
            <if test="sort != null "> and m.sort = #{sort}</if>
        </where>
        order by m.sort
    </select>
    
    <select id="selectModuleDOById" parameterType="Long" resultMap="ModuleDOResult">
        <include refid="selectModuleDOVo"/>
        where id = #{id}
    </select>

    <insert id="insertModuleDO" parameterType="ModuleDO" useGeneratedKeys="true" keyProperty="id">
        insert into module
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="projectId != null">project_id,</if>
            <if test="code != null">code,</if>
            <if test="name != null">name,</if>
            <if test="remark != null">remark,</if>
            <if test="sort != null">sort,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
            <if test="createBy != null">create_by,</if>
            <if test="updateBy != null">update_by,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="projectId != null">#{projectId},</if>
            <if test="code != null">#{code},</if>
            <if test="name != null">#{name},</if>
            <if test="remark != null">#{remark},</if>
            <if test="sort != null">#{sort},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="updateBy != null">#{updateBy},</if>
         </trim>
    </insert>

    <update id="updateModuleDO" parameterType="ModuleDO">
        update module
        <trim prefix="SET" suffixOverrides=",">
            <if test="projectId != null">project_id = #{projectId},</if>
            <if test="code != null">code = #{code},</if>
            <if test="name != null">name = #{name},</if>
            <if test="remark != null">remark = #{remark},</if>
            <if test="sort != null">sort = #{sort},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
            <if test="createBy != null">create_by = #{createBy},</if>
            <if test="updateBy != null">update_by = #{updateBy},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteModuleDOById" parameterType="Long">
        delete from module where id = #{id}
    </delete>

    <delete id="deleteModuleDOByIds" parameterType="String">
        delete from module where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>